<!-- author ben lawson (balawson@bu.edu) -->

<head>
    <title>Create an Album!</title>
</head>

<body>
    <div class="title">
        <h1>Make a new album to organize your photos</h1>
    </div>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <label for="photo">Select photo:</label>
        <input type="file" name="photo" required='true' /><br />
        <label for="caption">Please caption:</label>
        <input type="text" name="caption" required='true' /><br />
        <input type="submit" value="Upload" />
    </form>
    <select name=albums method="GET" action="/upload">
        {% for album in albums %}
        <option value="{{album}}" SELECTED>{{albums}}</option>"
        {% endfor %}
    </select>
</body>